* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  color: gray;
  margin: 0;
}

.header-title {
  width: 60%;
  margin: auto;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.header-title img {
  margin: 0.5rem 0;
}
.header-title h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2.2rem;
}
.header-title p {
  font-family: "Handlee", cursive;
  font-size: 1.1rem;
  color: gray;
}

header {
  margin-bottom: 2rem;
}

.header-top {
  gap: 0.5rem;
  padding: 1rem 0;
}

.header-top a {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.5rem;
  color: black;
}
.header-top a:hover {
  color: #1A77D1;
}
.header-top a i {
  font-size: 1rem;
  color: #1A77D1;
}

.navbar-button {
  background-color: #1A77D1;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background: linear-gradient(to right, coral 50%, #1A77D1 50%);
  background-size: 250% 100%;
  background-position: right;
  transition: 1s;
}
.navbar-button:hover {
  background-position: left;
  color: white;
}

.navbar-style li a {
  font-size: 1.2rem;
  color: black;
}
.navbar-style li:hover {
  color: coral;
  text-decoration: underline;
}

.carousel-inner {
  position: relative;
}

.banner-caption {
  position: absolute;
  top: 6rem;
}

.banner-header-span {
  color: #1A77D1;
}

.slider-btn {
  background-color: #1A77D1;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background: linear-gradient(to right, coral 50%, #1A77D1 50%);
  background-size: 250% 100%;
  background-position: right;
  transition: 1s;
}
.slider-btn:hover {
  background-position: left;
  color: white;
}

.banner-titale {
  font-size: 2.5rem;
  font-weight: bold;
}

.banner-text {
  font-size: 1rem;
}

.card-section-parents {
  position: relative;
  top: -13rem;
  z-index: 1;
  margin-bottom: 3rem;
}

.card-section {
  width: 30%;
  padding: 2rem;
  color: white;
  background-color: #1A77D1;
  border-radius: 10px;
  margin-top: 1.5rem;
}
.card-section h3 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.card-section p {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.card-section table {
  margin-bottom: 1rem;
}

.help-section {
  margin-top: -12rem;
}

.help-container-all {
  margin: 3rem 0;
}

.help-container {
  text-align: center;
}
.help-container i {
  font-size: 2.5rem;
  padding: 1.5rem 1.2rem;
  color: #1A77D1;
  border: 1px solid gray;
  border-radius: 100px;
}
.help-container h3 {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem 0;
}
.help-container p {
  font-size: 1rem;
}
.help-container:hover .icon {
  background-color: #1A77D1;
  color: white;
  border: none;
}
.help-container .icon-2 {
  padding: 1.6rem 1.9rem;
}
.help-container .icon-3 {
  padding: 1.6rem 1.5rem;
}

.details-section {
  background-image: url(img/blockqoute-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 2.5rem;
}

.details-container {
  background-color: #1A77D1;
  opacity: 0.8;
  padding: 5rem 2rem;
}

.details-content {
  text-align: center;
  margin: 1.5rem 0;
  color: white;
}
.details-content:hover i {
  color: #1A77D1;
  background-color: white;
}
.details-content i {
  font-size: 1.8rem;
  padding: 1.2rem;
  border: 2px solid white;
  border-radius: 100%;
  margin: 0;
}
.details-content h3 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0.5rem 0;
}
.details-content p {
  font-size: 1rem;
  margin: 0;
}

.offer-section i {
  font-size: 0.5rem;
  color: white;
  background-color: #1A77D1;
  padding: 0.3rem;
  border-radius: 100%;
  margin-right: 0.5rem;
}
.offer-section hr {
  width: 5%;
  border: none;
  height: 2px;
  margin-bottom: 0.5rem;
  color: black;
}

@media screen and (max-width: 992px) {
  .flex-around {
    flex-direction: column;
    justify-content: center;
  }
  .navbar-style li {
    text-align: center;
  }
  .navbar-style li:hover {
    background-color: #1A77D1;
    color: white;
    border-radius: 0.5rem;
  }
  .banner-titale {
    font-size: 2rem;
  }
  .banner-text {
    font-size: 1rem;
  }
  .card-1 {
    width: 48%;
    float: left;
  }
  .card-2 {
    width: 48%;
    float: right;
    margin-bottom: 1.5rem;
  }
  .card-3 {
    width: 100%;
    clear: both;
  }
  .card-section-parents {
    position: static;
  }
  .header-title {
    width: 80%;
  }
  .header-title h2 {
    font-size: 1.7rem;
  }
  .header-title p {
    font-size: 1rem;
  }
  .help-section {
    margin-top: 0;
  }
  .offer-section-img {
    width: 95%;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .banner-caption {
    top: 1.5rem;
  }
  .banner-titale {
    font-size: 2rem;
  }
  .banner-text {
    font-size: 0.9rem;
  }
  .slider-btn {
    font-weight: normal;
    font-size: small;
  }
  .card-section {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .banner-caption {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .banner-titale {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  .banner-text {
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
  }
  .card-section {
    padding: 1rem;
  }
  .header-title {
    width: 85%;
  }
  .header-title h2 {
    font-size: 1.3rem;
  }
  .header-title p {
    font-size: 0.9rem;
    color: black;
  }
}/*# sourceMappingURL=main.css.map */